body{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    height: 400px;
    width: 400px;
    background: silver;
}

.box1{
    display: flex;
    justify-content: space-between;
    background: cornflowerblue;
}

.inner1{
    display: flex;
    align-items: flex-start;
    margin: 30px;
    height: 50px;
    width: 70px;
    background: black;
}

.inner2{
    margin: 30px;
}

.box2{
    height: 200px;
    background: blue;
}

.box3{
    display: flex;
    justify-content: space-evenly;
}

.box3 div{
        height: 70px;
        width: 70px;
        background: black;
        position: relative;
        top: -35px;
}
