.container_main{
    width: 800px;
    height: auto;
    margin-top: 70px;
    margin-left: 50px;
}

.container1{
    display: flex;
    box-sizing: border-box;
    padding: 15px;
}

.container2{
    display: flex;
    box-sizing: border-box;
    padding: 15px;
}

.block{
    display: flex;
    box-sizing: border-box;
    padding: 15px;
}

.img{
    display: flex;
    align-items: center;
    margin: 0px;
    color: lightgreen;
    background: lavender;
    box-sizing: border-box;
    padding-left: 15px;
}

.text{
    color: lightgreen;
    background: lavender;
    box-sizing: border-box;
    padding-left: 15px;
}