.common{
    background: lightgreen;
    height: auto;
    width: 750px;
    margin-left: 101px;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.container1{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding-top: 20px;
    margin-top: 30px;
    width: 750px;
}

.box{
    background: black;
    width: 150px;
}

.ball{
    display: flex;
    color: white;
    justify-content: center;
    margin: 10px;
}

.Foto{
    display: flex;
    justify-content: center;
}

.par{
   color: white;
    text-align: center;
}

.img{
    width: 100px;
    height: 100px;
    border-radius: 70px;
}

.header{
    color: white;
    text-align: center;
}

.container2{
    text-align: center;
}

.font1{
    font-size: 30px;
}

.font2{
    font-size: 20px;
}