.container{
    background: lightgreen;
    height: auto;
    width: auto;
    margin-left: 100px;
    margin-right: 100px;
}

.box1{
    display: flex;
    justify-content: space-between;
}


.between{
    width: 595px;
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.box1>.inside1{
    display: flex;
}

.box2>p{
    text-align: center;

}

.font{
    font-size: 30px;
}

.font2{
    font-size: 20px;
}