.container{
    background: lightgreen;
    height: auto;
    width: auto;
    margin-left: 100px;
    margin-right: 100px;
}

.box1{
    display: flex;
    justify-content: space-between;
}

.CR{
    display: flex;
    width: 70px;
    height: 100px;
    justify-content: center;
}

.between{
    background: black;
    width: 150px;
    height: 220px;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.par{
   color: white;
}

.foto{
  border-radius: 70px;
}

.comma{
    display: flex;
    color: white;
    justify-content: center;
    margin: 10px;
}

.box2>p{
    text-align: center;

}

.font{
    font-size: 30px;
}

.font2{
    font-size: 20px;
}